<footer class="footer">
  <small>
    <strong><a href="http://ruby-on-rails-brendenpage956174.codeanyapp.com:3000">this website</a></strong>
    and <em><a href="http://reddit.com/r/gaybros">you</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
    </ul>
  </nav>
</footer>